*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.first-section {
    background-color: #f0f1f1;
    padding: 20px;
    margin-bottom: -7%;
}

.second-section {
    background-color: rgb(250, 250, 237);
    margin-top: 0;
    padding-top: 20;
    
}

html {
    scroll-behavior: smooth;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo{
    width: 200px;
    margin-left: 10%;
    top: 3%;
    cursor: pointer;
}

nav{
    display: inline-flex;
    width: 84%;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    margin-top: -6%;
}

nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #4e1e1e;
    font-weight: bold;
}

nav ul li a:hover{
    color: #df9651;
}

.detel{
    margin: 8% 0 0 8%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

.detel p{
    color: #df9651;
    line-height: 22px;
}

span{
    color: #4e1e1e;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.other {
    margin: 8% 0 0 8%;
}

.image {
    width: 20%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.image img{
    height: 200;
    position: absolute;
    left: 75%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 2s;
}

.image img:hover {
    left: 20px;
    transition: left 2s;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-item {
    width: calc(25% - 20px);
    position: relative;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(252, 247, 247, 0.7);
    color: #4e1e1e;
    padding: 16px;
    font-size: 13px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-item:hover .image-container img {
    transform: scale(1.05);
}

.image-item:hover .description {
    opacity: 1;
}

.Contact-me {
    font-size: medium;
    font-weight: 100;
    color: #df9651;
    line-height: 22px;
}

.Contact-me h3 {
    color: #4e1e1e;
    text-decoration: underline;
}

.Contact-me a {
    cursor: pointer;
}

.projects h3 {
    color: #4e1e1e;
    text-decoration: underline;
    line-height: 22px;
}

.Skills {
    font-size: medium;
    font-weight: 100;
    color: #df9651;
    line-height: 22px;
}

.Skills h3 {
    color: #4e1e1e;
    text-decoration: underline;
}

footer {
    background-color: #ccb596;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
.socials-icon a {
    gap: 30px;
    font-weight: bold;
    color: white;
}

.text {
    font-size: 13px;
    font-weight: lighter;
}

.text a {
    cursor: pointer;
    gap: 30px;
}